<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
  
<mapper namespace="com.ayyll.mapper.PhotoAlbumMapper">
  
    <!-- 插入一条记录 -->  
    <insert id="addPhotoAlbum" parameterType="PhotoAlbum">  
        insert into PhotoAlbum(user_id , name , description , create_time) values(#{user_id} , #{name} , #{description} , #{create_time}) 
    </insert>
    <!-- 查询用户相册列表 -->
    <select id="queryByUserId" parameterType="int" resultType="PhotoAlbum">
    	select * from PhotoAlbum where user_id=#{user_id}
    </select>
</mapper>  
